---
# tasks file for pvwa prerequisities

- name: Pre-Installation Block
  block:
  
    - name: Run Preinstall Script
      win_shell: |
        # Script Name: PVWAPreInstall.ps1
        # Description: Initiating pre-installation proccess of PVWA. If success, returns OK
        
        $ErrorActionPreference = "SilentlyContinue"
        
        try {
            Set-Location "{{ pvwa_installationautomation_folder }}"
            $Action = .\PVWA_Prerequisites.ps1
            $Action | Out-File -FilePath "{{ pvwa_prerequisites_log }}"
            $Result = Get-Content "{{ pvwa_prerequisites_log }}" | ConvertFrom-Json
            if ($Result.isSucceeded -eq 2) {
                exit 1
            } else {
                exit 0
            }
            exit 0
        } catch {
            Write-Output "Error occured: $error"
            exit 1
        }

  rescue:

    - name: Get log path for preinstall
      win_shell: |
        $Result = Get-Content "{{ pvwa_prerequisites_log }}"
        Write-Output $Result
      register: log_result

    - fetch:
        src: '{{ log_result.stdout | from_json | json_query("logPath") }}'
        dest: '{{ playbook_dir }}/logs/pvwa/{{ inventory_hostname }}_preinstall.log'
        flat: yes

    - fail:
        msg: 'ERROR: Preinstallation failed. For more info check {{ playbook_dir }}/logs/pvwa/{{ inventory_hostname }}_preinstall.log'