{
  "isUpgrade": {{ pvwa_upgrade|lower }},
  "configDirPath": "{{ pvwa_installation_path }}",
  "websiteDirPath": "{{ pvwa_iis_app_folder }}",
  "vaultAdminUsername": "{{ vault_username }}",
  "authMethodSettings": {
    "authMethods": "{{ pvwa_auth_type }}",
    "defaultAuthMethod": "{{ pvwa_default_auth_method }}",
    "defaultMobileAuthMethod": "{{ pvwa_default_mobile_auth_method }}",
    "rememberLastAuthMethod": "true"
  }
}