{
  "isUpgrade": {{ pvwa_upgrade|lower }},
  "configDirPath": "{{ pvwa_installation_path }}",
  "websiteDirPath": "{{ pvwa_iis_app_folder }}",
  "applicationName": "{{ pvwa_app_name }}",
  "enableFullVersion": {{ pvwa_enable_full_version|lower }},
  "enableMobileVersion": {{ pvwa_enable_mobile_version|lower }},
  "vaultParams": {
    "address": "{{ vault_ip }}",
    "port": "{{ vault_port }}",
    "name": "Demo Vault"
  }
}